@import "tailwindcss";
/* @theme {
  --font-: 'Barlow';
  --font-: 'BarlowCondensed'
} */

:root {
  color: white;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/Barlow-Regular.ttf');
}

@font-face {
  font-family: 'Barlow2';
  src: url('./fonts/Barlow/Barlow-Medium.ttf');
}

@font-face {
  font-family: 'BarlowCondensed';
  src: url('./fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Bellefair';
  src: url('./fonts/Bellefair/Bellefair-Regular.ttf');
}


html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
   /* font-family: 'Barlow Condensed'; */
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
